@use "config";
@use "sass:math";

@mixin full-bleed(
    $max-width: config.get("full-bleed", "max-width"),
    $grid-column-start: config.get("full-bleed", "grid-column", "start"),
    $grid-column-end: config.get("full-bleed", "grid-column", "end")
) {
    position: relative;
    transition: {
        property: max-width;
        duration: config.get("full-bleed", "transition", "duration");
        timing-function: config.get("full-bleed", "transition", "timing-function");
    }
    max: {
        inline: {
            size: min($max-width, 100%);
        }
    }
    margin: {
        inline: auto;
    }
    grid: {
        column: {
            start: $grid-column-start;
            end: $grid-column-end;
        }
    }
    &.#{config.get("full-bleed", "classes", "zoomed")} {
        max: {
            inline: {
                size: 100%;
            }
        }
    }
}

@mixin dialog() {
    border: {
        style: none;
    }
    @media (prefers-reduced-motion: no-preference) {
        $duration: config.get("dialog", "transition", "duration");
        transition: {
            property: scale, opacity, display, overlay;
            duration:
                $duration,
                math.div($duration, 2),
                $duration,
                $duration;
            behavior: normal, normal, allow-discrete, allow-discrete;
        }
        scale: 0.8;
        opacity: 0;
        &::backdrop {
            transition: {
                property: opacity, display, overlay;
                duration: math.div($duration, 2);
                behavior: normal, allow-discrete, allow-discrete;
            }
            opacity: 0;
        }
        &[open] {
            scale: 1;
            opacity: 1;
            @starting-style {
                scale: 0.8;
                opacity: 0;
            }
            &::backdrop {
                opacity: 1;
                @starting-style {
                    opacity: 0;
                }
            }
        }
    }
}
